html {
	font-family: Nunito !important;
}

.notActive {
    background: none !important;
}

.md-list-item-text h2 {
    margin-bottom: 0px;
}

md-list-item.md-3-line {
	margin-bottom: 30px;
}

.tag {
    padding: 5px 10px;
    margin: 5px !important;
    border-radius: 10px;
}

.justify {
	text-align: justify;
}

.date {
    text-align: right;
    font-size: 11px;
}

img.profileImage {
    border-radius: 50%;
    max-height: 100px;
    border: 2px solid;
}

.footer {
  background: #42424236;
}