<section layout-padding class="footer">
  <div layout-padding layout="row">
    <div flex="50">
      <img src="img/me.jpg" class="profileImage" />
    </div>
    <div flex>
      <h4>
        COMP 2772 - Web-Based Systems Development
      </h4>
      <h5>
        Rana Mateen Ahmed - ahme0133
      </h5>
      <h6>
        Assignment# 2
      </h6>
    </div>
  </div>
</section>