<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Settings" hide-gt-md ng-click="openSideNav()">
      <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
    </md-button>

    <h2 flex md-truncate> {{pageContent}} </h2>

  </div>
</md-toolbar>