<md-list>
	<md-list-item class="md-3-line" ng-repeat="news in allNews" ng-click="i=1">
		<div layout="column" class="md-list-item-text">
			<h2 md-colors="{color: 'primary'}"> {{news.title}} </h2>
			<div layout="column" layout-gt-xs="row" layout-align="space-around center">
				<h4 flex="20" flex-gt-sm> {{news.author}} </h4>
				<div layout="row" flex="40">
					<h4 class="tag" md-colors="{background: 'accent'}" ng-repeat="tag in news.tags.split(',')"> {{tag}} </h4>
				</div>
			</div>
			<p flex> {{news.content}} </p>
      <span class="date" style="float: right;"> {{news.dated | date: "dd' 'MMM' @ 'hh':'mm' 'a"}} </span>
		</div>
	</md-list-item>
</md-list>